body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff7f7;
}
h1, h2 {
    color: #a00000;
}
a, .btn {
    margin-top: 10px;
}
table th {
    background-color: #ffcccc;
}